<!DOCTYPE html>
<html>
    <head>
        <title>Pallet Calculator</title>

    </head>

    <body>
        <h1>Ideal Alignment for Simple Stacking:- </h1>
        <p>Side of Dimension <strong>{{ alignment[0] }} </strong>across the Length of the Cuboid, Side with Dimension <strong>{{ alignment[1] }}</strong> across the width of the cuboid and Side of Dimension <strong>{{ alignment[2] }}</strong> across the height of cuboid </p>
        <p>total Number of the Stackings := <strong>{{ stackings }}</strong></p>
    </body>
</html>