<!DOCTYPE html>
<html>
    <head>
        <title>Pallet Calculator</title>

    </head>

    <body>

    <p>Pallet Calculator for Standard <strong><em>EUR-standard(800x1200)</em></strong></p>
    <br></br>

    <p>Enter Dimension of the smaller box(<em>in cm</em>)</p>

    <form action="/calculate" method="POST">
        <input name="length" type="text" placeholder="length"><br>
        <input name="breadth" type="text" placeholder="breadth"><br>
        <input name="height" type="text" placeholder="height">
        <br>
        <!--
        stackings<br> <input type="radio" id="simple" name="stacking" value="simple">
                <label for="simple">simple</label><br>
                 <input type="radio" id="simple" name="stacking" value="complex">
                 <label for="complex">Complex</label><br> -->

        <button type="submit">calculate</button>

    </form>



    </body>
    </html>